---
layout: archive
title: "Teaching and Students"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Teaching</h2>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<hr>

<h2>Current Students<h2> 

PhD Students:
<li>Yuanzhuo Yu, 南京大学数学专业，2023年---</li>
<li>Xiaowei Li, 上海交通大学信息安全专业，2023年-- (Co-Supervised with Prof. Dawu Gu)</li>
<li>Xuan Chen, Melbourne University, 2024年---（Co-supervised with Prof. Joseph Liu and Shujie Cui</li>
<li>Wentao Hu, 东南大学网络空间安全学院，2024年---</li>

Master Students：
<li>Zhilong Luo, 武汉大学信息安全专业，2023---（Co-supervised with A/Prof. Zhedong Wang</li>
<li>Lei Tian，北航网安，2023---(Co-supervised with A/Prof. Yu Long</li>
<li>Hao Li, 北航网安学院，2024--
<li>Haoran Li, 哈工大，2024--

<hr>
  
<h2>Former Students<h2>
<li>Yanxue Jia, (Co-supervised with Prof. Dawu GU)</li>
<li>Yuncong Zhang, (Co-supervised with Prof. Dawu GU)</li>
