---
layout: archive
title: "Teaching and Students"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Teaching</h2>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<hr>

<h2>Students</h2>

<h3>Current Students<h3> 

**PhD Students:
- Yuanzhuo Yu, 南京大学数学专业，2023年---
- Xiaowei Li, 上海交通大学信息安全专业，2023年-- (Co-Supervised with Prof. Dawu Gu)
- Xuan Chen, Melbourne University, 2024年---（Co-supervised with Prof. Joseph Liu and Shujie Cui）
- Wentao Hu, 东南大学网络空间安全学院，2024年---

**Master Students：
- Zhilong Luo, 武汉大学信息安全专业，2023---（Co-supervised with A/Prof. Zhedong Wang）
- Lei Tian，北航网安，2023---(Co-supervised with A/Prof. Yu Long）
- Hao Li, 北航网安学院，2024--
- Haoran Li, 哈工大，2024--

<h3>Former Students<h3>
- Yanxue Jia, (Co-supervised with Prof. Dawu GU)
- Yuncong Zhang, (Co-supervised with Prof. Dawu GU)
